    <div class="container">
        <div class="row" id="centre1">
            <div>
                <div class="bouton1 col s12 col m6 valign-wrapper center-align">
                    <a class="ab waves-effect waves-light btn-large valign center green lighten-2 black-text" href="/#/acheteur">Je veux acheter</a>
                </div>
                <div class="bouton2 col s12 col m6 valign-wrapper center-align">
                    <a class="ab waves-effect waves-light btn-large valign center lime lighten-2 black-text" href="/#/vendeur">Je veux vendre</a>
                </div>

            </div>
        </div>
    </div>
