<nav>
    <div class="nav-wrapper" id="nav">
        <a href="/#/" class="brand-logo center"><img src="../assets/img/logo couleurs site petit.png" alt=""/></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="/#/">
                    <i class="material-icons md-48">chevron_left</i>
                </a>
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li>
                <p>Jean Aimar</p>
            </li>
            <li>
              <div>
                <input placeholder="Code postal" id="CP" type="text" class="validate">
              </div>
            </li>
        </ul>
    </div>
</nav>
