<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <link rel ="stylesheet" href="../assets/css/style.css">

    </head>
    <body>


    <div class="container">
      <div class="row">


        <table class="striped">
  <thead>
    <tr>
        <th data-field="produit">Produits</th>
        <th data-field="qualité">Qualités</th>
        <th data-field="quantité">Quantités</th>
        <th data-field="prix">Prix(vendeurs)</th>
        <th data-field="adresse">Adresse</th>
        <th data-field="total">Prix ttc</th>
        <th data-field="selection">Sélection</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Blé</td>
      <td><ul><li>Hum. :9%</li><li>PS:14kg</li><li>HABER:125s</li><li>Prot. :42%</li></ul></td>
      <td>120 tonnes</td>
      <td>241€/t</td>
      <td>Rouen</td>
      <td>3421€</td>
      <td>  <form action="#">

    <p>
      <input type="checkbox" class="filled-in" id="filled-in-box"  />
      <label for="filled-in-box"></label>
    </p>
  </form></td>
    </tr>
    <tr>
      <td>Blé</td>
      <td><ul><li>Hum. :9%</li><li>PS:14kg</li><li>HABER:125s</li><li>Prot. :42%</li></ul></td>
      <td>120 tonnes</td>
      <td>241€/t</td>
      <td>Rouen</td>
      <td>3421€</td>
      <td>  <form action="#">

    <p>
      <input type="checkbox" class="filled-in" id="filled-in-box"  />
      <label for="filled-in-box"></label>
    </p>
  </form></td>
    </tr>
    <tr>
      <td>Blé</td>
      <td><ul><li>Hum. :9%</li><li>PS:14kg</li><li>HABER:125s</li><li>Prot. :42%</li></ul></td>
      <td>120 tonnes</td>
      <td>241€/t</td>
      <td>Rouen</td>
      <td>3421€</td>
      <td>  <form action="#">

    <p>
      <input type="checkbox" class="filled-in" id="filled-in-box"  />
      <label for="filled-in-box"></label>
    </p>
  </form></td>
    </tr>
    <tr>
      <td>Blé</td>
      <td><ul><li>Hum. :9%</li><li>PS:14kg</li><li>HABER:125s</li><li>Prot. :42%</li></ul></td>
      <td>120 tonnes</td>
      <td>241€/t</td>
      <td>Rouen</td>
      <td>3421€</td>
      <td>  <form action="#">

    <p>
      <input type="checkbox" class="filled-in" id="filled-in-box"  />
      <label for="filled-in-box"></label>
    </p>
  </form></td>
    </tr>
    <tr>
      <td>Blé</td>
      <td><ul><li>Hum. :9%</li><li>PS:14kg</li><li>HABER:125s</li><li>Prot. :42%</li></ul></td>
      <td>120 tonnes</td>
      <td>241€/t</td>
      <td>Rouen</td>
      <td>3421€</td>
      <td>  <form action="#">

    <p>
      <input type="checkbox" class="filled-in" id="filled-in-box" />
      <label for="filled-in-box"></label>
    </p>
  </form></td>
    </tr>
    <tr>
      <td>Blé</td>
      <td><ul><li>Hum. :9%</li><li>PS:14kg</li><li>HABER:125s</li><li>Prot. :42%</li></ul></td>
      <td>120 tonnes</td>
      <td>241€/t</td>
      <td>Rouen</td>
      <td>3421€</td>
      <td>  <form action="#">

    <p>
      <input type="checkbox" class="filled-in" id="filled-in-box"  />
      <label for="filled-in-box"></label>
    </p>
  </form></td>
    </tr>
    <tr>
      <td>Blé</td>
      <td><ul><li>Hum. :9%</li><li>PS:14kg</li><li>HABER:125s</li><li>Prot. :42%</li></ul></td>
      <td>120 tonnes</td>
      <td>241€/t</td>
      <td>Rouen</td>
      <td>3421€</td>
      <td>  <form action="#">

    <p>
      <input type="checkbox" class="filled-in" id="filled-in-box" />
      <label for="filled-in-box"></label>
    </p>
  </form></td>
    </tr>
    <tr>
      <td>Blé</td>
      <td><ul><li>Hum. :9%</li><li>PS:14kg</li><li>HABER:125s</li><li>Prot. :42%</li></ul></td>
      <td>120 tonnes</td>
      <td>241€/t</td>
      <td>Rouen</td>
      <td>3421€</td>
      <td>  <form action="#">

    <p>
      <input type="checkbox" class="filled-in" id="filled-in-box"  />
      <label for="filled-in-box"></label>
    </p>
  </form></td>
    </tr>
    <tr>
      <td>Blé</td>
      <td><ul><li>Hum. :9%</li><li>PS:14kg</li><li>HABER:125s</li><li>Prot. :42%</li></ul></td>
      <td>120 tonnes</td>
      <td>241€/t</td>
      <td>Rouen</td>
      <td>3421€</td>
      <td>  <form action="#">

    <p>
      <input type="checkbox" class="filled-in" id="filled-in-box />
      <label for="filled-in-box"></label>
    </p>
  </form></td>
    </tr>

  </tbody>
</table>


      </div>
    </div>





        <!-- Compiled and minified CSS -->
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    </body>
</html>
