<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Footer</title>

        <style>
            #foot {
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 0;
            }

            .footnav {
                background-color: #aed581;
            }

            img {
              margin-left: 15px;
            }

        </style>

    </head>
    <body>
        <footer>
            <nav class="footnav">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img src="logo.png" alt=""/></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="">© 2016 Copyright</a>
                        </li>
                        <li>
                            <a href="">Crédit</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </footer>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    </body>
</html>
