<body>
  <form>
    <input type="text" ng-model="vm.origine" placeholder="Votre localisation" />
  </form>
    <div class="container">
        <div class="row" id="centre">
            <table>
                <thead>
                    <tr class="bordered">
                        <th data-field="numero">N°</th>
                        <th data-field="produit">Produit</th>
                        <th data-field="quantite">Quantité t.</th>
                        <th data-field="prix">Prix €/t</th>
                        <th data-field="adresse">Adresse</th>
                        <th data-field="total">Total</th>
                        <th data-field="checkbox">Selection</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Blé</td>
                        <td>{{vm.tone}}</td>
                        <td>{{vm.blet}}</td>
                        <td>{{vm.adr}}</td>
                        <td>{{vm.total}}</td>
                        <td>
                            <form action="#">
                              <input type="checkbox" id="check2"  ng-click="vm.getHU(vm.origine,vm.adr)" />
                              <label for="check2"></label>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Orge</td>
                        <td>30</td>
                        <td>{{vm.orget}}</td>
                        <td>{{vm.adrx}}</td>
                        <td>{{vm.total1}}</td>
                        <td>
                            <form action="#">
                              <input type="checkbox" id="check1"  ng-click="vm.getHU(vm.origine,vm.adrx)" />
                              <label for="check1"></label>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
