<body>
    <div class="container">
        <div class="row" id="centre2">
            <table>
                <thead>
                    <tr class="bordered">
                        <th data-field="numero">N°</th>
                        <th data-field="produit">Produit</th>
                        <th data-field="quantite">Quantité</th>
                        <th data-field="prix">Prix</th>
                        <th data-field="adresse">Adresse</th>
                        <th data-field="total">Total</th>
                        <th data-field="checkbox">Selection</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1
                        </td>
                        <td>Blé</td>
                        <td>90</td>
                        <td>X €</td>
                        <td>76540 Rouen</td>
                        <td>X XXX €</td>
                        <td>
                            <form action="#">
                                <p class="selec">
                                    <input type="checkbox" id="check1"/>
                                    <label for="check1"></label>
                                </p>
                            </form>
                            <tr>
                              <td colspan=7 class="qualite">Qualité du blé : XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx</td>
                            </tr>

                        </td>

                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Blé</td>
                        <td>90</td>
                        <td>X €</td>
                        <td>76540 Rouen</td>
                        <td>X XXX €</td>
                        <td>
                            <form action="#">
                                <p class="selec">
                                    <input type="checkbox" id="check2"/>
                                    <label for="check2"></label>
                                </p>
                            </form>
                        </td>
                    </tr>
                    <tr>
                      <td colspan=7 class="qualite">Qualité du blé : XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Blé</td>
                        <td>90</td>
                        <td>X €</td>
                        <td>76540 Rouen</td>
                        <td>X XXX €</td>
                        <td>
                            <form action="#">
                                <p class="selec">
                                    <input type="checkbox" id="check3"/>
                                    <label for="check3"></label>
                                </p>
                            </form>
                        </td>
                    </tr>
                    <tr>
                      <td colspan=7 class="qualite">Qualité du blé : XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Blé</td>
                        <td>90</td>
                        <td>X €</td>
                        <td>76540 Rouen</td>
                        <td>X XXX €</td>
                        <td>
                            <form action="#">
                                <p class="selec">
                                    <input type="checkbox" id="check4"/>
                                    <label for="check4"></label>
                                </p>
                            </form>
                        </td>
                    </tr>
                    <tr>
                      <td colspan=7 class="qualite">Qualité du blé : XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Blé</td>
                        <td>90</td>
                        <td>X €</td>
                        <td>76540 Rouen</td>
                        <td>X XXX €</td>
                        <td>
                            <form action="#">
                                <p class="selec">
                                    <input type="checkbox" id="check5"/>
                                    <label for="check5"></label>
                                </p>
                            </form>
                        </td>
                    </tr>
                    <tr>
                      <td colspan=7 class="qualite">Qualité du blé : XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx</td>
                    </tr>
                </tbody>
            </table>
            <div class="right-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer ma selection
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </div>
</body>
